/* Start Of Global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color-1: white;
    --main-color-2: #242424;
    --main-color-3: #ff3131;
    --main-color-4: #777;
    --main-transition: 0.5s;
    --section-padding: 10rem;
}
::-webkit-scrollbar {
    width: 1.5vw;
}
::-webkit-scrollbar-track {
    background-color: #2e3133;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color-3);
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
main {
    overflow: hidden;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
@media screen and (max-width: 1024px) {
    html {
        font-size: 50%;
    }
}
@media screen and (max-width: 767px) {
    html {
        font-size: 37.5%;
    }
}
/* Start Of Header Section */
header {
    display: flex;
    padding: 3rem;
}
header .website-logo {
    width: 50%;
}
header .website-logo h1 {
    font-size: 4rem;
}
header .website-logo h1 > span:first-child,
header .website-logo h1 > span:last-child {
    display: block;
}
header .website-logo h1 > span:last-child {
    font-size: 2rem;
    margin-top: 1rem;
}
header .website-logo h1 > span span {
    color: var(--main-color-3);
}
header .auth {
    position: relative;
    width: 50%;
}
header .auth .drop-down {
    position: absolute;
    right: 0;
}
/* © FreeFrontend by Ivan Grozdic */
.sec-center {
    position: relative;
    max-width: 100%;
    text-align: center;
    z-index: 200;
}
.for-dropdown i {
    margin-left: 1rem;
}
.dropdown:checked + label,
.dropdown:not(:checked) + label {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2;
    height: 5rem;
    transition: all 200ms linear;
    border-radius: 0.4rem;
    width: 22rem;
    letter-spacing: 0.1rem;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #ffeba7;
    cursor: pointer;
    color: #102770;
    box-shadow: 0 1.2rem 3.5rem 0 rgba(255, 235, 167, 0.15);
}
.dropdown:checked + label:before {
    pointer-events: auto;
}
.dropdown:not(:checked) + label i {
    transition: transform 200ms linear;
}
.dropdown:checked + label i {
    transform: rotate(180deg);
    transition: transform 200ms linear;
}
.section-dropdown {
    position: absolute;
    padding: 0.5rem;
    background-color: #111;
    top: 7rem;
    left: 0;
    width: 100%;
    border-radius: 0.4rem;
    display: block;
    box-shadow: 0 1.4rem 3.5rem 0 rgba(9, 9, 12, 0.4);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(2rem);
    transition: all 200ms linear;
}
.dropdown:checked ~ .section-dropdown {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}
.section-dropdown:before {
    position: absolute;
    top: -2rem;
    left: 0;
    width: 100%;
    height: 2rem;
    content: "";
    display: block;
    z-index: 1;
}
.section-dropdown:after {
    position: absolute;
    top: -0.7rem;
    left: 3rem;
    width: 0;
    height: 0;
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
    border-bottom: 0.8rem solid #111;
    content: "";
    display: block;
    z-index: 2;
    transition: all 200ms linear;
}
header a {
    position: relative;
    color: #fff;
    transition: all 200ms linear;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 0.2rem;
    padding: 0.5rem 0;
    padding-left: 2rem;
    padding-right: 1.5rem;
    margin: 0.2rem 0;
    text-align: left;
    text-decoration: none;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    -ms-flex-pack: distribute;
}
header a:hover {
    color: #102770;
    background-color: #ffeba7;
}
/* © FreeFrontend by Ivan Grozdic */
/* Start Of nav-bar Section */
nav {
    display: flex;
    justify-content: center;
    position: sticky;
    top: -0.1rem;
    gap: 2rem;
    background-color: #2e3133;
    padding: 0.5rem;
    z-index: 10;
}
nav a {
    color: var(--main-color-1);
    transition: 0.3s;
    font-size: 2rem;
    padding: 1.5rem;
}
nav a:hover {
    border-radius: 0.5rem;
    color: #2e3133;
    background-color: var(--main-color-1);
}
/* Start Of Side-Bar  */
.sidebar {
    background-color: #f8f9fa;
    border-right: 0.1rem solid #ddd;
    width: 20rem;
    height: 100vh;
    padding: 1.5rem;
    position: absolute;
    transition: transform 0.3s ease;
}
.Dashboard {
    color: black;
}
.Dashboard:hover {
    background-color: rgba(232, 230, 230, 0.947);
}
/* Sidebar links */
.sidebar a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 140%;
}
.sidebar a:hover:not(.Dashboard) {
    background-color: rgba(232, 230, 230, 0.947);
    color: black;
    border-radius: 0.7rem;
}
.menu-item:hover {
    background-color: rgba(232, 230, 230, 0.947);
    color: black;
}
/* Hide radio buttons */
input[type="checkbox"] {
    display: none;
}
/* Dropdown label (Tests, Links) */
.menu-item {
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    padding: 1rem;
    font-size: 140%;
}
/* Arrow rotation when checked */
input[type="checkbox"]:checked + label .arrow {
    transform: rotate(180deg);
}
/* Submenu (hidden by default) */
.submenu {
    list-style: none;
    padding-left: 2rem;
    display: none;
}
/* Show submenu when radio is checked */
input[type="checkbox"]:checked ~ .submenu {
    display: block;
}
/* Submenu links */
.submenu li {
    padding: 0.5rem 0;
}
.submenu li a {
    text-decoration: none;
    color: #000;
    font-weight: normal;
    border-radius: 0.7rem;
}
.submenu li a:hover {
    color: black;
}
.divider {
    color: var(--main-color-4);
    padding: 1.3rem 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border-bottom: 0.1rem solid #dce1e5;
}
.arrow {
    font-size: 2rem; /* Adjusts the size of the arrow */
    color: rgb(90, 88, 88); /* Changes the color */
    margin-left: 0.5rem;
    transition: transform 200ms linear;
}
.sidebar-toggle {
    display: none; /* Hidden on larger screens */
    background-color: #f8f9fa;
    border: none;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .sidebar {
        transform: translateX(-100%); /* Hide the sidebar by default */
    }
    .sidebar.open {
        transform: translateX(0); /* Show the sidebar when open */
    }
    .sidebar-toggle {
        display: block; /* Show the toggle button on small screens */
    }
}
/* Start Of Quiz Details Section */
main {
    margin-left: 20rem;
    margin-top: 3rem;
    padding: 2rem;
    transition: 0.3s;
}
main > h2 {
    display: none;
    text-align: center;
    width: 60%;
    margin: 0 auto 5rem;
    font-size: 3rem;
    padding: 2rem;
    border-radius: 0.5rem;
    color: var(--main-color-1);
    background-color: green;
}
.quiz-details {
    background-color: #dddddd;
    padding: 5rem;
    border-radius: 0.5rem;
    margin-bottom: 10rem;
}
.quiz-details h2 {
    background-color: #2e3133;
    color: var(--main-color-1);
    font-size: 2.5rem;
    margin-bottom: 3rem;
    padding: 3rem;
    border-radius: 0.5rem;
}
.quiz-details .quiz-info {
    display: flex;
    gap: 5rem;
    transition: 0.3s;
    margin-bottom: 1rem;
    padding: 3rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    color: #2e3133;
    background-color: var(--main-color-1);
}
.quiz-details .quiz-info:hover {
    color: var(--main-color-1);
    background-color: #2e3133;
}
.quiz-details .quiz-info h3 {
    font-weight: 500;
}
.quiz-details .quiz-info p {
    font-weight: 400;
    display: inline-flex;
    align-items: end;
}
@keyframes move-down {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
@media screen and (max-width: 767px) {
    main {
        margin-left: 0;
    }
    main > h2 {
        width: 100%;
    }
}
/* Start Of Update Quiz Section */
.update-quiz-form {
    margin-bottom: 10rem;
    padding: 5rem;
    border-radius: 0.5rem;
    background-color: #dddddd;
}
.update-quiz-form button {
    cursor: pointer;
    border: none;
    color: var(--main-color-1);
    background-color: #2e3133;
    transition: 0.3s;
    padding: 3rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}
.update-quiz-form button:hover {
    background-color: #0d1117;
}
.update-quiz-form button h2 span {
    color: red;
}
.update-quiz-form .edit-view {
    margin-top: 5rem;
}
.update-quiz-form .edit-view .form-buttons {
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
}
.update-quiz-form .edit-view .form-buttons button {
    padding: 2rem 3rem;
}
.update-quiz-form .edit-view .form-buttons button:nth-of-type(1) {
    background-color: var(--main-color-3);
}
.update-quiz-form .edit-view .form-buttons button:nth-of-type(2) {
    color: #2e3133;
    background-color: var(--main-color-1);
}
.update-quiz-form .edit-view .form-buttons button:nth-of-type(2):hover {
    color: var(--main-color-1);
}
.update-quiz-form .edit-view .form-buttons button:hover {
    background-color: #6b6e70;
}
.update-quiz-form .edit-view.not-active {
    display: none;
}
.update-quiz-form .edit-view.active {
    display: block;
}
.update-quiz-form .edit-view .content > span {
    display: inline-block;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 1rem;
    color: #2e3133;
    background-color: #fac342;
}
.update-quiz-form .edit-view .content .inform-message {
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    margin-bottom: 3rem;
    border: 0.2rem solid #fac342;
}
.update-quiz-form .edit-view .content .inform-message span i {
    color: #fac342;
    background-color: var(--main-color-1);
    padding: 1rem;
    border-radius: 50%;
    font-size: 2.5rem;
}
.update-quiz-form .edit-view .content .inform-message p {
    font-size: 1.5rem;
    display: inline-flex;
    align-items: center;
    color: #2e3133;
}
.update-quiz-form .edit-view .content .card {
    margin-top: 5rem;
}
.update-quiz-form .edit-view .content .card h3 {
    background-color: #2e3133;
    color: var(--main-color-1);
    font-size: 2rem;
    padding: 3rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}
.update-quiz-form .edit-view .content .card .choices .choice {
    display: flex;
    gap: 1rem;
    transition: 0.3s;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}
.update-quiz-form .edit-view .content .card .choices .choice:hover {
    background-color: #2e3133;
    color: var(--main-color-1);
    cursor: pointer;
}
/* © FreeFrontend by Temani Afif */
.update-quiz-form
    .edit-view
    .content
    .card
    .choices
    .choice
    input[type="radio"] {
    --s: 3rem; /* control the size */
    --c: var(--main-color-3); /* the active color */
    height: var(--s);
    aspect-ratio: 1;
    border: calc(var(--s) / 8) solid #2e3133;
    padding: calc(var(--s) / 8);
    background: radial-gradient(farthest-side, var(--c) 94%, #0000) 50%/0 0
        no-repeat content-box;
    border-radius: 50%;
    outline-offset: calc(var(--s) / 10);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    font-size: inherit;
    transition: 0.3s;
}
.update-quiz-form
    .edit-view
    .content
    .card
    .choices
    .choice:hover
    input[type="radio"] {
    border: calc(var(--s) / 8) solid var(--main-color-1);
}
.update-quiz-form
    .edit-view
    .content
    .card
    .choices
    .choice
    input[type="radio"]:checked {
    border-color: var(--c);
    background-size: 100% 100%;
}
.update-quiz-form .edit-view .content .card .choices .choice label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
}
/* © FreeFrontend by Temani Afif */
/* Start Of Danger Zone Section */
.delete-quiz-form > h2 {
    color: #fa5e55;
    background-color: #212830;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    width: fit-content;
}
.delete-quiz-form > h2 span {
    color: yellow;
}
.delete-quiz-form .danger-zone {
    color: #fa5e55;
    background-color: #212830;
    border: 0.4rem solid #fa5e55;
    border-radius: 0.5rem;
    padding: 5rem;
}
.delete-quiz-form .danger-zone h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
.delete-quiz-form .danger-zone > span {
    display: inline-block;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 1rem;
    color: #212830;
    background-color: #fa5e55;
}
.delete-quiz-form .danger-zone .inform-message {
    border: 0.2rem solid #fa5e55;
    display: flex;
    gap: 2rem;
    padding: 1.5rem;
    margin-bottom: 3rem;
}
.delete-quiz-form .danger-zone .inform-message i {
    font-size: 2.5rem;
}
.delete-quiz-form .danger-zone .inform-message p {
    font-size: 1.5rem;
}
.delete-quiz-form .danger-zone button {
    color: var(--main-color-1);
    background-color: #0d1117;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 2rem 3rem;
    cursor: pointer;
    transition: 0.3s;
}
.delete-quiz-form .danger-zone button:hover {
    background-color: #fa5e55;
}
/* Start of Scroll Up Button */
.scroll-up-button {
    display: none;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    z-index: 1000;
}
.scroll-up-button button {
    color: var(--main-color-1);
    background-color: #2e3133;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-size: 3rem;
    padding: 2rem;
    transition: 0.3s;
}
.scroll-up-button button i {
    transition: var(--main-transition);
}
.scroll-up-button button:hover {
    background-color: var(--main-color-3);
}
.scroll-up-button button:hover i {
    color: #2e3133;
    transform: translate(0, -50%);
}
@keyframes move-button-left {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes move-button-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(200%);
    }
}
